<?xml version="1.0"?>

<launch>

      <!-- Loads the robot model -->
   <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find my_robot)/urdf/mk_one.xacro'"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find realsense2_description)/rviz/urdf.rviz" required="true"/>
    <!-- <include file="$(find detection)/launch/detectionnode.launch"></include> -->




    

    
</launch>